/*

Welcome to the ultimate Z!

Last update: 9 April 2021

*/

/* This root collection contains a customizable color collection, which
   could effect the entire template that you are building. Normally, all
   styles uses same color scheme, but you could alter it the way you want
   it or you could just add your personel css to your site. */
:root {
    --gray1: #f7f7f7;
    --gray2: #a8aebb;
    --gray3: #6c757d;
    --gray4: #555;
    --color1: #99154e;
    --color2: #2d499d;
    --color3: #3f5491;
    --color4: #25396f;
    --color5: #435ebe;
    --color6: #7c8db5;
    --color7: #f2f7ff;
    --color8: #e6eef5;
    --specGrad: rgba(242, 247, 255, 0);
    --alertColor: #f3616d;
    --successColor: #4fbe87;
    --zFormInputColor: #2c3a47;
    --zFormBorderColor: #dce7f1;
    --zFormFocusBorderColor: #a1afdf;
    --zFormFocusOutlineColor: rgba(67,94,190,.25);
    --zFormRadioColor: #a8aebb;
    --zFormRadioHoverColor: #e4e8ee;
    --placeholderColor: #e4e8ee;
    --zFormRadius: 4px;
    --zFormBorder: 1px;
    --zButtonColor: #2c3a47;
    --zButtonBorderColor: #2c3a47;
    --zButtonHoverColor: #b2b2b2;
    --zButtonHoverBorderColor: #b2b2b2;
    --zButtonSecondaryColor: #435ebe;
    --zButtonSecondaryBgColor: transparent;
    --zButtonSecondaryBorderColor: #435ebe;
    --zButtonSecondaryHoverColor: white;
    --zButtonSecondaryHoverBgColor: #435ebe;
    --zButtonSecondaryHoverBorderColor: #435ebe;
    --zButtonPrimaryColor: white;
    --zButtonPrimaryBgColor: #435ebe;
    --zButtonPrimaryHoverColor: white;
    --zButtonPrimaryHoverBgColor: #3950a2;
    --legacyColor: #151625;
    --modalBack: rgba(50, 65, 97, 0.5);
    --touchbackC: white;
    --touchbackB: url(z.png);
    --touchbackS: cover;
    --touchbackA: scroll;
    --touchbackR: no-repeat;
    --thinFamily: 'Nunito', sans-serif;
    --textFamily: 'Nunito', sans-serif;
    --headFamily: 'Nunito', sans-serif;
    --biggerSize: 24px;
    --normalSize: 18px;
    --smallerSize: 15px;
    --selection: #e4e8ee;
    --littleBoxSize: 5px;
    --littleBoxRadius: 10px;
}

::selection {background-color: var(--selection);}

.hideScroll, .zModalContent, .zHorizon {
    overflow: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}

.hideScroll::-webkit-scrollbar, .hideScroll::-webkit-scrollbar-thumb, .hideScroll::-webkit-scrollbar-track,
.zModalContent::-webkit-scrollbar, .zModalContent::-webkit-scrollbar-thumb, .zModalContent::-webkit-scrollbar-track,
.zHorizon::-webkit-scrollbar, .zHorizon::-webkit-scrollbar-thumb, .zHorizon::-webkit-scrollbar-track {
    display: none;
    width: 0 !important;
}

/*-------------------*/
/* Basic tag styles */
/*-----------------*/

/* This code is used to maintain paddings of elements from overlapping,
   It effects all elements on the page when this package is loaded.
   Also, prevents any element from getting too wide for the screen. */
*, ::before, ::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

/* This is to reset active and focus states of any elements, so that
   default browser styles should not apply. */
::-moz-focus-inner {
    outline:none;
    border:0;
    -moz-outline-style: none;
}
*:active {
    outline: none;
}
*:focus {
    outline: none;
}

/* Starting from resetting the main page settings. Remove the default
   spaces that web browser provides and change the default font style. */
body {
    margin: 0;
    padding: 0;
    font-family: var(--textFamily);
    font-size: var(--normalSize);
    color: var(--gray4);
}

/* Styles for the links. No different changes here, only color. */
a {
    color: var(--color5);
    text-decoration: none;
}

a:hover {
    border-bottom-color: transparent;
    color: var(--color2);
}

a:visited, a:focus {
    text-decoration: none;
}

/* For those which has a nice animation. */
a, button {
    font-family: var(--textFamily);
    font-weight: bolder;
}

b {
    font-family: var(--textFamily);
    font-weight: bolder;
}

/* Styles for all headings. */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--headFamily);
    font-weight: bolder;
}

h1 {
    color: var(--color4);
    font-size: calc(2 * var(--biggerSize));
    margin-bottom: 8px;
    line-height: 1.2;
}

h2 {
    font-size: calc(2 * var(--normalSize));
}

h3, h4, h5, h6 {
    font-weight: bolder;
}

/* Removing the default spaces from bulletted lists. */
ul, ul li, ol, ol li {
    margin: 0;
    padding: 0;
}

ul > li, ol > li {
    padding-bottom: 8px;
    list-style-position: inside;
}

ul > li:before, ol > li:before {
    content: "";
    left: 0;
    top: 0;
    position: relative;
    width: 20px;
    height: 100%;
}

/* Code tag styles. */
code {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 4px;
    font-size: var(--smallerSize);
    border-radius: 5px;
}

/* Beautify the pre tag. */
pre {
    background-color: rgba(255, 255, 255, 0.3);
    display: block;
    border-radius: 5px;
    padding: 15px;
}

pre > code {
    background: transparent;
    padding: 0;
    border-radius: 0;
    white-space: pre-wrap;
}

/* Styles for blockquotes. */
blockquote {
    border-left: rgba(255, 255, 255, 0.3) solid 5px;
    margin: 0;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: var(--smallerSize);
    font-style: italic;
}

/* Reset all the browser settings for form styles,
   because we want our styles to apply to them. */
form, input, button, select, label, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
button {
    background: transparent;
}

/* Use fullImg when you need to add an image inside of a div element
   which you do not want the overlapping of height to not happen. */
img.fullImg {
    height: 100%;
}

iframe {
    border: none;
}

p {
    margin-top: 0;
}

hr {
    margin: 20px 0;
    border: 1px solid var(--gray2);
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}

.animation, .zButton, input, select, textarea {
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.animSlow {
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.visible {opacity: 1;}
.hidden {opacity: 0;}
.displayNone, .display-none {display: none;}
.displayNoneI {display: none !important;}
.blockThis, .display-block {display: block;}
.pointThis {cursor: pointer;}
.pointRun {pointer-events: auto;}
.pointNo {pointer-events: none;}
.hideRest {overflow: hidden;}

/* the mobOnly! - that is */
.mobOnly {
    visibility: hidden;
}

.zPreLoadOut {
    z-index: 102;
    background: rgba(255, 255, 255, 0.8);
}

.zPreLoadIn {
    font-size: 24px;
    z-index: 103;
}

/*-------------*/
/* Little Box */
/*-----------*/

#littleBox {
    height: 100vh;
    width: var(--littleBoxSize);
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}

#littleBox > div {
    width: var(--littleBoxSize);
    background-color: var(--color5);
    border-radius: var(--littleBoxRadius);
    overflow: hidden;
}

#littleBox > div > div {width: 7px;}

#ben {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

#littleToggle {
    position: fixed;
    z-index: 10;
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--color5);
    margin: 0;
}

/*--------------------------*/
/* Simple columns and rows */
/*------------------------*/

/* This package normally uses a table-like-based interface. So, you
   have rows and columns on the page. This little one here makes
   sure that any row is blocked to a whole line. */
[class*="row-"]::after, [class*="zRow-"]::after {
    content: "";
    clear: both;
    display: block;
    font-size: var(--normalSize);
}

/* Each column has its own padding of 20px. */
[class*="col-"], [class*="zCol-"] {
    display: inline-block;
    vertical-align: middle;
    font-size: var(--normalSize);
}

.colTop {
    vertical-align: top !important;
}

.verMid {
    vertical-align: middle !important;
}

.colBottom {
    vertical-align: bottom !important;
}

/* if you want, like a clean slate after an element you just put,
   use this code to workaround it. */
.clean {
    clear: both;
}

/* Shorcut for the usual "white-space: nowrap". */
.noWrap, .zHorizon {
    white-space: nowrap !important;
}
.noWrap > *, .zHorizon > * {
    white-space: normal;
}

.scroll-y {
    overflow-y: scroll;
    height: 100%;
}

/* If the website will have full-width and full-height screen,
   this code shall just do the trick. */
.fullScr, .screen-full {
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.screen-fix {width: auto; height: auto;}

.thereIs {box-sizing: content-box;}
.inLine {display: inline-block; font-size: var(--normalSize);}
.Know {display: inline-table;}
.toSpan {display: inline;}
.inLeft {float: left;}
.inRight {float: right;}
.heightAll {height: 100vh;}
.heightMinAll {min-height: 100vh;}

/* And... now we have all the columns we need. Just pick what is
   right for the needs at the time. Also the rows. */
.col-1, .zCol-1 {width: 8.33%;}
.col-2, .zCol-2 {width: 16.66%;}
.col-2_5, .zCol-2_5 {width: 20%;}
.col-3, .zCol-3 {width: 25%;}
.col-4, .zCol-4 {width: 33.33%;}
.col-5, .zCol-5 {width: 41.66%;}
.col-6, .zCol-6 {width: 50%;}
.col-7, .zCol-7 {width: 58.33%;}
.col-8, .zCol-8 {width: 66.66%;}
.col-9, .zCol-9 {width: 75%;}
.col-10, .zCol-10 {width: 83.33%;}
.col-11, .zCol-11 {width: 91.66%;}
.col-12, .zCol-12, .widthAll, .width-all, .fullScr {width: 100%;}

.row-1, .zRow-1 {height: 8.33%;}
.row-2, .zRow-2 {height: 16.66%;}
.row-3, .zRow-3 {height: 25%;}
.row-4, .zRow-4 {height: 33.33%;}
.row-5, .zRow-5 {height: 41.66%;}
.row-6, .zRow-6 {height: 50%;}
.row-7, .zRow-7 {height: 58.33%;}
.row-8, .zRow-8 {height: 66.66%;}
.row-9, .zRow-9 {height: 75%;}
.row-10, .zRow-10 {height: 83.33%;}
.row-11, .zRow-11 {height: 91.66%;}
.row-12, .zRow-12 {height: 100%;}

.perTop-1 {top: 8.33%;} .perTop--1 {top: -8.33%;}
.perTop-2 {top: 16.66%;} .perTop--2 {top: -16.66%;}
.perTop-3 {top: 25%;} .perTop--3 {top: -25%;}
.perTop-4 {top: 33.33%;} .perTop--4 {top: -33.33%;}
.perTop-5 {top: 41.66%;} .perTop--5 {top: -41.66%;}
.perTop-6 {top: 50%;} .perTop--6 {top: -50%;}
.perTop-7 {top: 58.33%;} .perTop--7 {top: -58.33%;}
.perTop-8 {top: 66.66%;} .perTop--8 {top: -66.66%;}
.perTop-9 {top: 75%;} .perTop--9 {top: -75%;}
.perTop-10 {top: 83.33%;} .perTop--10 {top: -83.33%;}
.perTop-11 {top: 91.66%;} .perTop--11 {top: -91.66%;}
.perTop-12 {top: 100%;} .perTop--12 {top: -100%;}

.perLeft-1 {left: 8.33%;} .perLeft--1 {left: -8.33%;}
.perLeft-2 {left: 16.66%;} .perLeft--2 {left: -16.66%;}
.perLeft-3 {left: 25%;} .perLeft--3 {left: -25%;}
.perLeft-4 {left: 33.33%;} .perLeft--4 {left: -33.33%;}
.perLeft-5 {left: 41.66%;} .perLeft--5 {left: -41.66%;}
.perLeft-6 {left: 50%;} .perLeft--6 {left: -50%;}
.perLeft-7 {left: 58.33%;} .perLeft--7 {left: -58.33%;}
.perLeft-8 {left: 66.66%;} .perLeft--8 {left: -66.66%;}
.perLeft-9 {left: 75%;} .perLeft--9 {left: -75%;}
.perLeft-10 {left: 83.33%;} .perLeft--10 {left: -83.33%;}
.perLeft-11 {left: 91.66%;} .perLeft--11 {left: -91.66%;}
.perLeft-12 {left: 100%;} .perLeft--12 {left: -100%;}

.square {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}

/*-------------*/
/* Font sizes */
/*-----------*/

.font0 {font-size: 0;}
.thinText, .zHov-thinText:hover {font-family: var(--thinFamily); font-weight: lighter;}
.boldText, .zHov-boldText:hover {font-family: var(--textFamily); font-weight: bolder;}
.uppercase {text-transform: uppercase;}
.biggerText {font-size: var(--biggerSize);}

/*---------------------*/
/* Colors and shadows */
/*-------------------*/

/* Text colors.
   You should specify a set of colours in the :root, so whenever you
   want you should use these colours in your texts. */
.whiteText, .zHov-whiteText:hover {color: white;}
.blackText {color: black;}
.gray1, .zHov-gray1:hover {color: var(--gray1);}
.gray2, .zHov-gray2:hover {color: var(--gray2);}
.gray3, .zHov-gray3:hover {color: var(--gray3);}
.gray4, .zHov-gray4:hover {color: var(--gray4);}
.text1, .zHov-text1:hover {color: var(--color1);}
.text2, .zHov-text2:hover {color: var(--color2);}
.text3, .zHov-text3:hover {color: var(--color3);}
.text4, .zHov-text4:hover {color: var(--color4);}
.text5, .zHov-text5:hover {color: var(--color5);}
.text6, .zHov-text6:hover {color: var(--color6);}
.text7, .zHov-text7:hover {color: var(--color7);}
.text8, .zHov-text8:hover {color: var(--color8);}
.textLegacy {color: var(--legacyColor);}

/* Give some background color to the web. */
.grayBack1, .zHov-grayBack1:hover {background: var(--gray1);}
.grayBack2, .zHov-grayBack2:hover {background: var(--gray2);}
.grayBack3, .zHov-grayBack3:hover {background: var(--gray3);}
.grayBack4, .zHov-grayBack4:hover {background: var(--gray4);}
.modalBack {background: rgba(0, 0, 0, 0.5);}
.whiteBack {background: white;}
.backTrans, .zHov-backTrans:hover {background: transparent;}
.back1, .zHov-back1:hover {background: var(--color1);}
.back2, .zHov-back2:hover {background: var(--color2);}
.back3, .zHov-back3:hover {background: var(--color3);}
.backA3:after {background: var(--color3);}
.backB3:before {background: var(--color3);}
.back4, .zHov-back4:hover {background: var(--color4);}
.backA4:after {background: var(--color4);}
.backB4:before {background: var(--color4);}
.back5, .zHov-back5:hover {background: var(--color5);}
.backA5:after {background: var(--color5);}
.backB5:before {background: var(--color5);}
.back6, .zHov-back6:hover {background: var(--color6);}
.backA6:after {background: var(--color6);}
.backB6:before {background: var(--color6);}
.back7, .zHov-back7:hover {background: var(--color7);}
.backA7:after {background: var(--color7);}
.backB7:before {background: var(--color7);}
.back8, .zHov-back8:hover {background: var(--color7);}
.backA8:after {background: var(--color7);}
.backB8:before {background: var(--color7);}
.backLegacy {background: var(--legacyColor);}

.alertBack, .zHov-alertBack:hover {background: var(--alertColor);}
.succBack, .zHov-succBack:hover {background: var(--successColor);}

.zAlert {
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.zAlert div:first-child {
    height: 100%;
    padding: 13px;
    font-size: 15.6px;
}

/* It is TOUCHBACK.
   This is a background image for the web, you can choose
   either have a repeated image, or a complete cover one.
   R is for repeated, C is for covered. */
.touchback {
    overflow: auto;
	background-color: var(--touchbackC);
    background-image: var(--touchbackB);
	background-size: var(--touchbackS);
	background-attachment: var(--touchbackA);
    background-position: center;
    background-repeat: var(--touchbackR);
}

.zBack {
    height: 100%;
    background: url(z.png), linear-gradient(90deg, var(--color2), var(--color3));
}

.coverBack {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Sweet gradient backgrounds, combined with different alternatives
   by the colours used in :root. */
.grad1 {
    background: var(--color2); /* Old browsers */
    background: -moz-linear-gradient(135deg,  var(--color2) 0%, var(--color3) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(135deg,  var(--color2) 0%, var(--color3) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  var(--color2) 0%, var(--color3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--color2)', endColorstr='var(--color3)',GradientType=0 ); /* IE6-9 */
}
.grad2 {
    background: var(--color5); /* Old browsers */
    background: -moz-linear-gradient(135deg, var(--color5) 0%, var(--color1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(135deg, var(--color5) 0%, var(--color1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, var(--color5) 0%, var(--color1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--color5)', endColorstr='var(--color1)',GradientType=0 ); /* IE6-9 */
}
.grad3 {
    background: var(--color4); /* Old browsers */
    background: -moz-linear-gradient(135deg, var(--color4) 0%, var(--color5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(135deg, var(--color4) 0%, var(--color5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, var(--color4) 0%, var(--color5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--color4)', endColorstr='var(--color5)',GradientType=0 ); /* IE6-9 */
}
.grad4 {
    background: var(--color1); /* Old browsers */
    background: -moz-linear-gradient(135deg, var(--color1) 0%, var(--color2) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(135deg, var(--color1) 0%, var(--color2) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, var(--color1) 0%, var(--color2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--color1)', endColorstr='var(--color2)',GradientType=0 ); /* IE6-9 */
}
.grad5 {
    background: var(--color3); /* Old browsers */
    background: -moz-linear-gradient(135deg, var(--color3) 0%, var(--color4) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(135deg, var(--color3) 0%, var(--color4) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, var(--color3) 0%, var(--color4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--color3)', endColorstr='var(--color4)',GradientType=0 ); /* IE6-9 */
}
.specGrad {
    background: var(--color7); /* Old browsers */
    background: -moz-linear-gradient(180deg, var(--color7) 0%, var(--specGrad) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(180deg, var(--color7) 0%, var(--specGrad) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(180deg, var(--color7) 0%, var(--specGrad) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='var(--color7)', endColorstr='var(--specGrad)',GradientType=0 ); /* IE6-9 */
}
.gradWhiteToGray {
    background: var(--gray1);
    background: -moz-linear-gradient(180deg, white 0%, var(--gray1) 100%);
    background: -webkit-linear-gradient(180deg, white 0%, var(--gray1) 100%);
    background: linear-gradient(180deg, white 0%, var(--gray1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="white",endColorstr="var(--gray1)",GradientType=1);
}
.gradWhiteToYou {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="white",endColorstr="white",GradientType=1);
}
.gradYouToWhite {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="white",endColorstr="white",GradientType=1);
}
.gradBlackToYou {
    background: rgb(0,0,0);
    background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.glass, .zHov-glass:hover {
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(10.0px);
    -webkit-backdrop-filter: blur(10.0px);
}

/* Seperators, there are two types: gray and black. */
[class*="grayLine"], .blackLine {
    content: "";
    width: 5rem;
    height: 0.5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.grayLine1 {background-color: var(--gray1);}
.grayLine2 {background-color: var(--gray2);}
.grayLine3 {background-color: var(--gray3);}
.grayLine4 {background-color: var(--gray4);}
.blackLine {background-color: black;}

/* Finally shadows. */
[class*="superow"]:before {
    content: "";
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
}

.zShadow {box-shadow:0 1rem 3rem rgba(0,0,0,.175) !important;}

.shadowBoth-15-20 {box-shadow: 0 0 15px -5px rgba(0,0,0,0.3), inset 0 0 20px rgba(0,0,0,0.3);}

.superBack, .zHov-superBack:hover {background: linear-gradient(180deg,transparent 0,transparent 25%,rgba(0,0,0,.83))}
.superBack2, .zHov-superBack2:hover {background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .83) 50%, rgba(0, 0, 0, .83))}

.morph {
    object-fit: cover;
	transform: scale(1.06); /* scale up to hide the edge blur */
}

.invert {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.glow1, .zHov-glow1:hover {text-shadow: 0 0 5px var(--color1)}
.glow2, .zHov-glow2:hover {text-shadow: 0 0 5px var(--color2)}
.glow3, .zHov-glow3:hover {text-shadow: 0 0 5px var(--color3)}
.glow4, .zHov-glow4:hover {text-shadow: 0 0 5px var(--color4)}
.glow5, .zHov-glow5:hover {text-shadow: 0 0 5px var(--color5)}
.glow6, .zHov-glow6:hover {text-shadow: 0 0 5px var(--color6)}
.glow7, .zHov-glow7:hover {text-shadow: 0 0 5px var(--color7)}
.glow8, .zHov-glow8:hover {text-shadow: 0 0 5px var(--color8)}
.glowWhite, .zHov-glowWhite:hover {text-shadow: 0 0 5px white}
.glowGray1, .zHov-glowGray1:hover {text-shadow: 0 0 5px var(--gray1)}
.glowGray2, .zHov-glowGray2:hover {text-shadow: 0 0 5px var(--gray2)}
.glowGray3, .zHov-glowGray3:hover {text-shadow: 0 0 5px var(--gray3)}
.glowGray4, .zHov-glowGray4:hover {text-shadow: 0 0 5px var(--gray4)}

/*---------------------------------------------*/
/* The reason design is called design: spaces */
/*-------------------------------------------*/

.height-This {height: auto;}

/*------------*/
/* Alignment */
/*----------*/

/* Align any element at the center horizontally. */
.horMid {
    margin-left: auto;
    margin-right: auto;
}

/* Middle alignment vertically also called: the perfect alignment. */
.hollyMid {
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    -webkit-transform: perspective(1px) translateY(-50%);
    -ms-transform: perspective(1px) translateY(-50%);
}
.stonaAge {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.stonaTone {
    display: table-cell;
    vertical-align: middle;
}

.floatingSpace, .floating-space {
    position: absolute;
    top: 0; left: 0;
}

.floatingTheRight, .floating-theRight {
    position: absolute;
    top: 0; right: 0;
}

.fixFloating, .floating-fix {
    position: relative;
}

/* Place any text to right, or center. */
.leftText {text-align: left;}
.rightText {text-align: right;}
.centerText {text-align: center;}

/* Place any text to bottom. */
.bottomTextOut {position: relative; height: 100%;}
.IWantItDownR, .bottomTextInR {position: absolute; bottom:0; right:0;}
.IWantItDownL, .bottomTextInL {position: absolute; bottom:0; left:0;}

/* For fixed items */
.fixed {position: fixed; z-index: 100;}

/*----------------*/
/* Pretty radius */
/*--------------*/

[class*="boldMin"], [class*="boldSo"] {
    border-style: solid;
}

.boldSo1, .zHov-boldSo1:hover {border-color: var(--color1);}
.boldSo2, .zHov-boldSo2:hover {border-color: var(--color2);}
.boldSo3, .zHov-boldSo3:hover {border-color: var(--color3);}
.boldSo4, .zHov-boldSo4:hover {border-color: var(--color4);}
.boldSo5, .zHov-boldSo5:hover {border-color: var(--color5);}
.boldSo6, .zHov-boldSo6:hover {border-color: var(--color6);}
.boldSo7, .zHov-boldSo7:hover {border-color: var(--color7);}
.boldSoG1, .zHov-boldSoG1:hover {border-color: var(--gray1);}
.boldSoG2, .zHov-boldSoG2:hover {border-color: var(--gray2);}
.boldSoG3, .zHov-boldSoG3:hover {border-color: var(--gray3);}
.boldSoG4, .zHov-boldSoG4:hover {border-color: var(--gray4);}
.boldSoW, .zHov-boldSoW:hover {border-color: white;}
.boldSoM, .zHov-boldSoM:hover {border-color: rgba(255,255,255,0.3);}
.boldSoB, .zHov-boldSoB:hover {border-color: black;}

.boldNoB, .boldNo {border-bottom: 0;}
.boldNoT, .boldNo {border-top: 0;}
.boldNoL, .boldNo {border-left: 0;}
.boldNoR, .boldNo {border-right: 0;}

/* Adding radius to any elements. */
.rad-half, .rad-c1-half, .rad-l-half, .rad-t-half, .rad-half:before, .rad-c1-half:before, .rad-l-half:before, .rad-t-half:before {border-top-left-radius: 50%;}
.rad-half, .rad-c2-half, .rad-r-half, .rad-t-half, .rad-half:before, .rad-c2-half:before, .rad-r-half:before, .rad-t-half:before {border-top-right-radius: 50%;}
.rad-half, .rad-c3-half, .rad-l-half, .rad-b-half, .rad-half:before, .rad-c3-half:before, .rad-l-half:before, .rad-b-half:before {border-bottom-left-radius: 50%;}
.rad-half, .rad-c4-half, .rad-r-half, .rad-b-half, .rad-half:before, .rad-c4-half:before, .rad-r-half:before, .rad-b-half:before {border-bottom-right-radius: 50%;}

/*----------------*/
/* zTable Styles */
/*--------------*/

div.zTable {
    display: -webkit-flex;
    display: flex;
}

.zHorizon {
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 0 auto;
    cursor: grab;
}

.zHorizon > * {
    display: inline-block;
}

div.zTable-0-1 {-webkit-flex: 0.1;-ms-flex: 0.1;flex: 0.1;}
div.zTable-1 {-webkit-flex: 1;-ms-flex: 1;flex: 1;}
div.zTable-2 {-webkit-flex: 2;-ms-flex: 2;flex: 2;}
div.zTable-4 {-webkit-flex: 4;-ms-flex: 4;flex: 4;}
div.zTable-5 {-webkit-flex: 5;-ms-flex: 5;flex: 5;}

table.zTable {
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    table.zTable {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

table.zTable thead tr {
    border-bottom: 1px solid var(--gray2) !important;
}

table.zTable tr td {
    background-color: rgba(0, 0, 0, 0.05);
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

table.zTable tr:nth-child(2n) td {
    background-color: transparent;
}

table.zTable th {
    padding: 20px;
}

table.zTable tfoot tr td {
    border: none;
    background-color: transparent;
}

/*---------------*/
/* zList styles */
/*-------------*/

ul.zList > li, ul.tabList > li, ul.cleanList > li, ul.cleanList li {
    list-style-type: none;
    padding-top: 8px;
}

ul.zList > li {
    display: list-item;
    padding: 20px 0;
    border-bottom: var(--gray3) solid 0.5px;
}

ul.zList > li a {
    border: none;
    padding: 20px;
    padding-bottom: 10px;
}

ul.tabList li {
    border: none !important;
}

ul.tabList li a {
    border-color: rgba(255, 255, 255, 0.5);
    border-bottom-style: solid;
    border-bottom-width: 3px !important;
}

ul.tabList li a:hover, ul.tabList li a.active {
    border-color: white;
}

ul.zBlack > li {
    border-bottom: black solid 0.5px;
}

ul.zList > li:last-child {
    border-bottom: none;
}

ul.nextToEach li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

ul.nextToEach li:first-child {
    padding-left: 0;
}

ul.nextToEach li:last-child {
    padding-right: 0;
}

/*------------------*/
/* zActions styles */
/*----------------*/

ul.zActions, ul.zIcons, ul.zContacts {
    list-style-type: none;
}

ul.zActions > li {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    border-radius: 5px;
    margin: 0.5em;
}

ul.zActions > li:before, ul.zIcons > li:before, ul.zContacts > li:before {
    position: absolute;
}

a.zButton, button.zButton {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--zButtonColor);
    border-color: var(--zButtonBorderColor);
    border-width: 2px;
    border-style: solid;
    top: 0;
}

a.sweet, button.sweet {
    border-radius: 5px;
}

a.sweetFH, button.sweetFH {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

a.sweetSH, button.sweetSH {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

a.large {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: var(--biggerSize);
}

a.small {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: var(--smallerSize);
}

a.zButton:hover, button.zButton:hover {
    border-color: var(--zButtonHoverBorderColor);
    color: var(--zButtonHoverColor);
    top: -5px;
}

a.primary, button.primary {
    color: var(--zButtonPrimaryColor);
    background-color: var(--zButtonPrimaryBgColor);
    border: none;
}

a.primary:hover, button.primary:hover {
    color: var(--zButtonPrimaryHoverColor);
    background-color: var(--zButtonPrimaryHoverBgColor);
}

a.secondary, button.secondary {
    color: var(--zButtonSecondaryColor);
    background-color: var(--zButtonSecondaryBgColor);
    border-color: var(--zButtonSecondaryBorderColor);
}

a.secondary:hover, button.secondary:hover, a.active, button.active {
    border-color: var(--zButtonSecondaryHoverBorderColor);
    color: var(--zButtonSecondaryHoverColor);
    background-color: var(--zButtonSecondaryHoverBgColor);
}

ul.stacked li {
    display: block;
}

a.disabled, a.disabledP {
    cursor: default;
}

a.disabled, a.disabled:hover {
    border: rgba(255, 255, 255, 0.3) solid 2px;
}

a.disabledP {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}

a.circle {
    width: 2.5em;
    height: 2.5em;
    padding: 0;
    padding-top: 0.7em;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    font-size: var(--biggerSize);
}

/*----------------*/
/* zIcons styles */
/*--------------*/

ul.zIcons > li > a, ul.zContacts > li > a {
    border-bottom: none;
}

ul.zIcons > li {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
}

ul.zIcons > li > a {
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
}

ul.zContacts > li {
    display: block;
    padding-left: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
}

ul.zContacts > li:before {
    font-size: 20px;
    background: white;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    top: -10px;
}

/*----------------*/
/* zBoxes styles */
/*--------------*/

ul.zBoxes {
    list-style-type: none;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: flex-end;
    align-content: flex-end;
}

ul.zBoxes li {
    text-align: center;
    padding: 10px;
    flex: 1;
    min-width: 250px;
}

ul.zBoxes li span {
    background-color: var(--koyu_gri);
    display: block;
    border-radius: 10px;
    padding: 30px;
    height: 100%;
}

ul.zBoxes li span a {
    border-radius: 10px;
}

ul.zBoxes li img {
    width: 80%;
}

/*---------------*/
/* zForm styles */
/*-------------*/

form.zForm {
}

/* Input styles */

form.zForm input, input.zInput, form.zForm select, select.zSelect, form.zForm button, form.zForm textarea {
    font-family: var(--textFamily) !important;
    font-size: var(--normalSize);
    border-radius: var(--zFormRadius);
    border-width: var(--zFormBorder);
}

form.zForm input[type="text"], input.zInput[type="text"],
form.zForm input[type="email"], input.zInput[type="email"],
form.zForm input[type="password"], input.zInput[type="password"],
form.zForm select, select.zSelect, form.zForm textarea, .zSwitch {
    padding: 16px;
    width: 100%;
    border-color: var(--zFormBorderColor) !important;
    border-style: solid;
    background: transparent;
    color: var(--zFormInputColor) !important;
}

select.many {
     background-color: var(--gray1);
     border-color: var(--gray1) !important;
 }

form.zForm input[type="text"]:focus, input.zInput[type="text"]:focus,
form.zForm input[type="email"]:focus, input.zInput[type="email"]:focus,
form.zForm input[type="password"]:focus, input.zInput[type="password"]:focus,
form.zForm select:focus, select.zSelect:focus, form.zForm textarea:focus {
    border-color: var(--zFormFocusBorderColor) !important;
    box-shadow: 0 0 0 .25rem var(--zFormFocusOutlineColor);
}

.zGroup {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.zGroup input, .zGroup select, .zGroup textarea {
    flex: 1 1 auto;
    width: 1% !important;
    min-width: 0;
}

.zGroup > * {
    border-radius: 0 !important;
    border-right-width: 0 !important;
}

.zGroup > *:first-child {
    border-top-left-radius: var(--zFormRadius) !important;
    border-bottom-left-radius: var(--zFormRadius) !important;
}

.zGroup > *:last-child {
    border-right-width: var(--zFormBorder) !important;
    border-top-right-radius: var(--zFormRadius) !important;
    border-bottom-right-radius: var(--zFormRadius) !important;
}

form.zForm textarea {
    resize: vertical;
}

form.zForm input, input.zInput, form.zForm select, select.zSelect {
    color: var(--zFormInputColor);
}

::placeholder {
    color: var(--placeholderColor) !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--placeholderColor);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--placeholderColor);
}

/* Select list styles */

form.zForm select, select.zSelect {
    cursor: pointer;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(0, 0, 0, 0.25)' /%3E%3C/svg%3E");
	background-size: 1.25rem;
	background-repeat: no-repeat;
	background-position: calc(100% - 1rem) center;
}

.zDown {
    position: absolute;
    right: 0; bottom: 0;
    padding: 20px;
}

form.zForm option[value=""][disabled] {
    display: none;
}

/* Button styles */

form.zForm button {
    padding: 10px;
    cursor: pointer;
    height: 45px;
    margin-left: auto;
}

form.zForm button:hover, .borderForm {
    border-color: var(--zFormBorderColor);
}

/* Radio styles */

form.zForm label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px;
    cursor: pointer;
    vertical-align: middle;
    font-size: var(--normalSize);
}

form.zForm input[type="radio"], .zRadio, form.zForm input[type="checkbox"], .zCheckbox {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    transition: background-color .15s ease-in-out, background-position .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    cursor: pointer;
    padding-left: 1.2em;
    height: 1.5em;
    border: 3px solid var(--zFormBorderColor);
    vertical-align: middle;
}

form.zForm input[type="radio"], .zRadio {
    border-radius: 50%;
}

form.zForm input[type="radio"]:checked, .zRadio:checked {
    background-color: var(--color5);
    border-color: var(--color5);
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='rgba(255, 255, 255, 0.5)'/%3E%3C/svg%3E");
}

form.zForm input[type="checkbox"]:checked, .zCheckbox:checked {
    background-color: var(--color5);
    border-color: var(--color5);
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3 6-6'/%3E%3C/svg%3E");
}

.zSwitch {
    top: 0 !important;
    padding: 10px;
    padding-left: 2em !important;
	height: 1.2em;
	margin-top: .15em;
	vertical-align: top;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: contain;
	-webkit-print-color-adjust: exact;
	color-adjust: exact;
	transition: background-color .15s ease-in-out, background-position .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	width: 2em;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='rgba(0, 0, 0, 0.25)'/%3E%3C/svg%3E") !important;
	background-position: 0;
	border-radius: 50px !important;
    margin-left: -2px;
}

.zSwitch:checked {
    border-color: var(--color5) !important;
    background-color: var(--color5);
	background-position: 100%;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E") !important;
}

form.zForm input[type="range"], .zRange {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: var(--gray2);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}

form.zForm input[type="range"]::-webkit-slider-thumb, .zRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--color5);
    cursor: pointer;
    border-radius: 50%;
}

form.zForm input[type="range"]::-moz-range-thumb, .zRange::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--color5);
    cursor: pointer;
    border-radius: 50%;
}

.disabledInput {
    pointer-events: none;
    background-color: var(--gray1) !important;
}

/*--------------*/
/* T-imeline ! */
/*------------*/

ul.T-imeline {
    list-style: none;
}

.T-imeline li {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    padding-bottom: 40px;
}

.T-imeline li:last-child {
    padding: 0;
}

li.Y-ear {
    width: 25%;
    text-align: center;
    padding: 5px;
    margin-right: 1em;
    border-radius: 30px;
}

/*-------------*/
/* zNotePaper */
/*-----------*/

.zNote {
    background: #fff;
    box-shadow: 0 1px 4px hsla(0,0%,0%,.25);
    margin: 50px auto;
    position: relative;
    width: 80%;
    background-image: -webkit-radial-gradient(transparent 21%, transparent 21%),
                      -webkit-radial-gradient(transparent 21%, transparent 26%),
                      -webkit-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
                                                   hsla(180,25%,50%,.1) 95%, hsla(180,25%,50%,.1) 100%);
    background-image: -moz-radial-gradient(transparent 21%, transparent 21%),
                      -moz-radial-gradient(transparent 10%, transparent 12%),
                      -moz-linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
                                                   hsla(180,25%,50%,.1) 95%, hsla(180,25%,50%,.1) 100%);
    background-image: radial-gradient(transparent 21%, transparent 21%),
                      radial-gradient(transparent 10%, transparent 12%),
                      linear-gradient(top, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,0) 95%,
                                                   hsla(180,25%,50%,.1) 95%, hsla(180,25%,50%,.1) 100%);
    background-position: 6px 6px, 6px 5px, 50% 36px;
    background-repeat: repeat-y, repeat-y, repeat;
    background-size: 96px 96px, 96px 96px, 48px 48px;
    padding: 48px 24px 24px 84px;
}

.zNote:after {
    border-left: 1px solid hsla(180,25%,50%,.1);
    border-right: 1px solid hsla(180,25%,50%,.1);
    bottom: 0;
    content: '';
    left: 58px;
    position: absolute;
    top: 0;
    width: 2px;
}

.zNote:before {
    bottom: 8px;
    border-radius: 4px;
    box-shadow: 0 10px 10px hsla(0,0%,0%,.25);
    content: '';
    height: 100px;
    max-width: 300px;
    position: absolute;
    right: 5px;
    width: 300px;
    z-index: -10;
    -webkit-transform: rotate(2deg);
       -moz-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
         -o-transform: rotate(2deg);
            transform: rotate(2deg);
}

.zNote:hover:before {
    bottom: 100px;
    box-shadow: 0 100px 100px hsla(0,0%,0%,.25);
}

/*-------------------------------------*/
/* Screen compabality (media queries) */
/*-----------------------------------*/

@media only screen and (max-width: 1024px) {
    [class*="col-"] {width: 100%;}
    .mobOnly {visibility: visible;}
    /* Element to show only on desktop */
    .deskinTop {display: none !important;}
    .touchback {background-size: 200%, 100%; background-position: top center;}
}

@media only screen and (max-width: 768px) {
    .touchback {background-size: 250%, 100%; background-position: top center;}
    img {
        max-width: 100%;
        height: auto;
    }
    img.fullImg {
        width: 100%;
        float: left;
    }
    .noWrap {white-space: normal !important;}
    .bottomTextOut, .bottomTextInR, .bottomTextInL {
        position: relative;
        width: 100%;
        height: auto;
    }
}

/*------------*/
/* zDropdown */
/*----------*/

.zDropdown:hover > .zAlt {
    display: block;
    position: absolute;
    padding-left: 10px;
}

.zDropdown > .zAlt {
    display: none;
}

/*---------*/
/* zArrow */
/*-------*/

.zArrow {
    position: relative;
    color: #333;
    font-family: Arial sans-serif;
    font-size: 2em;
    text-decoration: none;
    padding: 0.5em 1.5em;
}

.zArrow:before, .zArrow:after {
    content: "";
    background: #333;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    display: block;
    height: 0.5em;
    position: absolute;
    right: 0;
    width: .2em;
}

.zArrow.down:before, .zArrow.down:after {
    top: 0.4em;
    left: 0;
}

.zArrow.down:before {
    left: .27em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.zArrow.down:after {
    left: .05em;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*---------*/
/* zModal */
/*-------*/

.zModal{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--modalBack);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.zModal .zCancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}

.zModalContent {
    position: absolute;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, .2);
    border-radius: 3px;
    display: block;
    overflow-y: scroll;
    max-height: 100%;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: perspective(1px) translateY(-50%);
    -webkit-transform: perspective(1px) translateY(-50%);
    -ms-transform: perspective(1px) translateY(-50%);
    transition: all .4s .2s;
}

.zModal:target {
    opacity: 1;
    visibility: visible;
}

.zModal:target .zModalContent {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

/*-------------*/
/* Animations */
/*-----------*/

/* X-ROTATING BOXES */

.clockInfinite {
    -webkit-animation: configure-clockwise 3s ease-in-out 0s infinite alternate;
    -moz-animation: configure-clockwise 3s ease-in-out 0s infinite alternate;
    -ms-animation: configure-clockwise 3s ease-in-out 0s infinite alternate;
    -o-animation: configure-clockwise 3s ease-in-out 0s infinite alternate;
    animation: configure-clockwise 3s ease-in-out 0s infinite alternate;
}

.xclockInfinite {
    -webkit-animation: configure-xclockwise 3s ease-in-out 0s infinite alternate;
    -moz-animation: configure-xclockwise 3s ease-in-out 0s infinite alternate;
    -ms-animation: configure-xclockwise 3s ease-in-out 0s infinite alternate;
    -o-animation: configure-xclockwise 3s ease-in-out 0s infinite alternate;
    animation: configure-xclockwise 3s ease-in-out 0s infinite alternate;
}

@keyframes configure-clockwise {
    0% {transform: rotate(0)}
    25% {transform: rotate(90deg)}
    50% {transform: rotate(180deg)}
    75% {transform: rotate(270deg)}
    100% {transform: rotate(360deg)}
}

@keyframes configure-xclockwise {
    0% {transform: rotate(45deg)}
    25% {transform: rotate(-45deg)}
    50% {transform: rotate(-135deg)}
    75% {transform: rotate(-225deg)}
    100% {transform: rotate(-315deg)}
}

.infiniteTopBottom {
    -webkit-animation: infiniteTopBottom 2s linear infinite;
    -moz-animation: infiniteTopBottom 2s linear infinite;
    -ms-animation: infiniteTopBottom 2s linear infinite;
    -o-animation: infiniteTopBottom 2s linear infinite;
    animation: infiniteTopBottom 2s linear infinite;
}

@keyframes infiniteTopBottom {
    0% {top: 0px;}
    50% {top: -10px;}
    100% {top: 0px;}
}

/*

Helper css classes for the javascript animation "muffin".
You can find the codes in the javascript library of the Ultimate Z.

*/
.moveBottom-Top100 {
    -webkit-animation: moveBottom-Top100 0.5s ease-out forwards;
    -moz-animation: moveBottom-Top100 0.5s ease-out forwards;
    -ms-animation: moveBottom-Top100 0.5s ease-out forwards;
    -o-animation: moveBottom-Top100 0.5s ease-out forwards;
    animation: moveBottom-Top100 0.5s ease-out forwards;
}

.moveTop-Bottom100 {
    -webkit-animation: moveTop-Bottom100 0.5s ease-in forwards;
    -moz-animation: moveTop-Bottom100 0.5s ease-in forwards;
    -ms-animation: moveTop-Bottom100 0.5s ease-in forwards;
    -o-animation: moveTop-Bottom100 0.5s ease-in forwards;
    animation: moveTop-Bottom100 0.5s ease-in forwards;
}

.moveBottom-Top100-V {
    -webkit-animation: moveBottom-Top100-V 0.5s ease-in forwards;
    -moz-animation: moveBottom-Top100-V 0.5s ease-in forwards;
    -ms-animation: moveBottom-Top100-V 0.5s ease-in forwards;
    -o-animation: moveBottom-Top100-V 0.5s ease-in forwards;
    animation: moveBottom-Top100-V 0.5s ease-in forwards;
}

.moveTop-Bottom100-V {
    -webkit-animation: moveTop-Bottom100-V 0.5s ease-out forwards;
    -moz-animation: moveTop-Bottom100-V 0.5s ease-out forwards;
    -ms-animation: moveTop-Bottom100-V 0.5s ease-out forwards;
    -o-animation: moveTop-Bottom100-V 0.5s ease-out forwards;
    animation: moveTop-Bottom100-V 0.5s ease-out forwards;
}

@keyframes moveBottom-Top100 {
    0%     {bottom: -100px; opacity: 0;}
    100%   {bottom: 0; opacity: 1;}
}

@keyframes moveTop-Bottom100 {
    0%     {bottom: 0; opacity: 1;}
    100%   {bottom: -100px; opacity: 0;}
}

@keyframes moveBottom-Top100-V {
    0%     {top: 0; opacity: 1;}
    100%   {top: -100px; opacity: 0;}
}

@keyframes moveTop-Bottom100-V {
    0%     {top: -100px; opacity: 0;}
    100%   {top: 0; opacity: 1;}
}
